<div style="width: 100%; padding-left: 1.5rem; padding-top: 2rem">
  <ul class="nav nav-pills flex-column mb-auto">
    <!-- start of ngFor-->
    <li class="nav-item">
      <a class="nav-link text-black">
        <fa-icon [icon]="groupIcon"></fa-icon> Group 1
      </a>
    </li>
    <li>
      <a class="nav-link text-black">
        <fa-icon [icon]="groupIcon"></fa-icon> Group 2
      </a>
    </li>
    <li>
      <a class="nav-link text-black"
        ><fa-icon [icon]="groupIcon"></fa-icon> Group 3
      </a>
    </li>
    <li>
      <a class="nav-link text-black">
        <fa-icon [icon]="groupIcon"></fa-icon> Group 4
      </a>
    </li>
    <li>
      <a class="nav-link text-black">
        <fa-icon [icon]="groupIcon"></fa-icon> Group 5
      </a>
    </li>

    <!-- end of ngFor-->
  </ul>
  <hr />
</div>
