<!-- start of ngFor-->
<div
  class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
  style="height: 100%; padding-top: 2rem"
>
  <div class="list-group list-group-flush border-bottom scrollarea">
    <ul class="nav nav-pills">
      <li
        *ngFor="let item of sampleData"
        style="margin-bottom: 1rem; width: 100%"
      >
        <app-brief-previous-post
          [Name]="item.Name"
          [Owner]="item.Owner"
        ></app-brief-previous-post>
      </li>
    </ul>
  </div>
</div>
