/* Add application styles & imports to this file! */
/* @import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap'); */
:root {
  --main-bg-theme-color: #e5e1e6;
}
body {
  /* font-family: 'Poppins', sans-serif; */
  display: block;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--main-bg-theme-color);
  height: 100vh;
  max-height: 100vh;
}
