<!-- start of ngFor-->
<div
  class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
  style="height: 100%"
>
  <div class="list-group list-group-flush border-bottom scrollarea">
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>text test</div>
    <div>nunohihi</div>
    <div>nunohihi</div>
  </div>
</div>
