<div class="d-flex flex-column" style="max-height: 70vh; max-width: inherit">
  <div
    style="padding-left: 1rem; padding-top: 0.5rem"
    class="d-flex flex-row justify-content-start"
  >
    <img
      width="{{ edge }}"
      height="{{ edge }}"
      src="{{ Avatar }}"
      alt="@Agency"
      style="border-radius: 5rem; margin-right: 1rem"
    />
    <p>{{ Name }}</p>
  </div>
  <div style="padding-left: 1rem; padding-right: 1rem" class="d-flex">
    <p>{{ Content }}</p>
  </div>
  <div class="d-flex justify-content-center">
    <img src="{{ Pic }}" alt="Some content" style="max-height: 50vh" />
  </div>
  <app-react-sys></app-react-sys>
</div>
