<div class="row d-flex" style="height: 100%">
  <div class="col-3 d-flex justify-content-start" style="height: 100%">
    <app-sidebar style="width: 80%"></app-sidebar>
  </div>
  <div class="col-6 d-flex justify-content-center" style="height: 100%">
    <app-content style="width: 80%"></app-content>
  </div>
  <div class="col-3 d-flex justify-content-end" style="height: 100%">
    <!-- <app-sidebar style="width: 80%"></app-sidebar> -->
    <app-chatbar style="width: 80%"></app-chatbar>
  </div>
</div>
